<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="page-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Redz Hairdressers Derry/Londonderry</h1>
        <hr>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Call the salon on <span class="number">02871312123</span> to book your appointment!</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/images/welcome-page/hair1.jpg" />
      </ion-col>
      <ion-col size="4">
        <img src="../../../assets/images/welcome-page/hair2.jpg" />
      </ion-col>
      <ion-col size="4">
        <img src="../../../assets/images/welcome-page/hair3.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
